main {
   
    display: flex;
    justify-content: space-between;
    

}

body{
    display: flex;
    flex-direction: column;
    
    margin: 0;
    padding: 0;  
}

.logo {
    widows: 130px;
    height: 150px;
    border-radius: 50%;
}

h1 {
    
    font-size: 40px;
    padding: 0;
    padding-bottom: 50px;
    margin: 0;
}

header {
    
    margin-left: 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid hsl(9, 41%, 40%);
}

ul {
    font-size: 20px;
    color: green;
}

img {
    height: 150px;
    widows: 270px;
    display: flexbox;
    padding-top: 5px;
} 

.one {
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 20px;
}

.two {
    font-size: 20px;
    color: green;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 20px;
    font-size: 20px;
}
.f{
    color:rgb(63, 138, 74);
    position: relative;
    display: flex;
    position: relative;
display: block;
margin: 0 auto 13px;
overflow: hidden;
position: absolute;
bottom: 0;
margin-left:640px;
justify-content:space-between;

text-align: right;
}
.three{
    color:rgb(197, 136, 44); 
    font-size:20px;
    display:block;
}
.f a:hover{
    color: rgb(131, 219, 58);
}
.f a{
    color:rgb(63, 138, 74);
    text-decoration: none; 
}
.two a{
    color:rgb(63, 138, 74);
    text-decoration: none;
}
.two a:hover{
    color: rgb(131, 219, 58);
}
.one a{
    color:rgb(63, 138, 74);
    text-decoration: none;
}
.one a:hover{
    color: rgb(131, 219, 58);
}
.four a{
    color:rgb(63, 138, 74);
    text-decoration: none;
}
.five{
    
    width: 350px;
    height:300px;
    padding-left:37%;
}
.six{
    width: 300px;
    height:300px;
    padding-left:39%;
}
.row{
    width: 500px;
    height:300px;
    padding-left:32%;
}
.eight{
    color:rgb(197, 136, 44); 
    font-size:20px;
    display:block;
    text-align:center;
}
body{
    color:rgb(65, 117, 112);
    background-image:url(https://avatars.mds.yandex.net/get-pdb/1641653/ddec43a3-11ad-41eb-a129-bdaf3604c1b4/s1200);
    background-position:center ;
    background-repeat: no-repeat;
    background-size: cover;
  

}
footer{
    color:rgb(65, 117, 112);
    background-image:url(https://i.sunhome.ru/journal/193/predok-cheloveka-v2.orig.jpg);
    background-position:center ;
    background-repeat: no-repeat;
    background-size: cover;

}